.categoryContent {
	border-width: thin medium medium medium;
	border-style: solid;
	border-color: rgb(180, 180, 180);
	border-radius: 0px 0px 10px 10px;

}

.categoryTitle {
	background: rgba(200, 200, 200, 0.4);
	border-width: medium medium thin medium;
	border-style: solid;
	border-color: rgb(180, 180, 180);
	border-radius: 10px 10px 0px 0px;
}

.categorySection {
	color: rgb(50, 50, 50);
	padding: 1px;
	margin-right: 10%;
}

#pageTitle {
	margin-left:250px;

}


.projectImage {
	width: 250px;
	height: 300px;
}

.projectItem a:link, a:visited {
	padding: 7px;
	text-decoration: none;
	font-size: 17px;
}

.projectItem a:hover {
	text-decoration: underline;
}

.categoryContent li {
	padding: 7px;
}

.categoryContent li:hover {
	background: rgba(200, 200, 200, 0.6);
}