.content {
	background: rgba(255, 255, 255, 0.4);
	color: rgb(50, 50, 50);
	padding: 20px;
	margin-right: 10%;
}

#pageTitle {
	margin-left:250px;

}


.projectImage {
	width: 250px;
	height: 300px;
}

.projectItem a:link, a:visited {
	text-decoration: none;
}

.projectItem a:hover {
	text-decoration: underline;
}

li {
	padding: 5px;
}

li:hover {
	background: rgba(255, 255, 255, 0.6);
}