html {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 15px;
	font-weight:lighter;
}

.white {
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	padding-left: 10px;
	padding-right: 10px;
	font-size: 25px;
}

#pjs {
	border-style: ridge;
	border-width: 8px;
	border-color: rgb(0, 255, 0);
}

.categorySection {
	margin-left: 230px;
}

ul {
	list-style-type: none;
	overflow: hidden;
}

.projectItem {
	float: left;
	margin-right: 25px;
}

.nav {
	position: fixed;
	border-style: solid;
	border-radius: 2px;
	border-color: rgb(240, 240, 240);
	background-color: rgb(230, 230, 230);
	margin-top: 50px;
	padding-right: 50px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: rgba(255, 255, 255, 0.34);
	font-size: 1.2em;
}

.nav li {
	list-style-type: none;
	padding-bottom: 5px;
}

.nav a:link, .nav a:visited {
	background: white;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: blue;
}

.nav a:hover {
	background: rgb(200, 200, 200);
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: white;
}
