html {
	background: rgb(50, 50, 50);
}

.white {
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	padding-left: 10px;
	padding-right: 10px;
	font-size: 25px;
}

#pjs {
	border-style: ridge;
	border-width: 8px;
	border-color: rgb(0, 255, 0);
}

