html {
	background-image: url('data/bg.jpg');
}

.white {
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	padding-left: 10px;
	padding-right: 10px;
	font-size: 25px;
}

#pjs {
	border-style: ridge;
	border-width: 8px;
	border-color: rgb(0, 255, 0);
}

.content {
	margin-left: 200px;
}

.nav {
	position: fixed;
	margin-top: 50px;
	padding-right: 75px;
	padding-left: 75px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: rgba(0, 0, 0, 0.34);
}